* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f0f2f5;
    min-height: 100vh;
    padding: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 90vmin;
    background: #ffffff;
}

h1{
    margin: 5px 0;
    color: #2c3e50;
}
.controls{
    margin-bottom: 20px;
    text-align: center;
}

.status{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 5px;
}

/*Grid*/
#game-board {
    display: grid;
    gap: 10px;
    perspective: 1000px;
    padding: 20px;
    margin: 0 auto;
    width: 75vmin;
    height: 75vmin;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 8px;
}

/*Card Styling*/
.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: calc(15vmin / var(--size, 4));
}

.card-front {
    background: #2c3e50; 
    color: white;
}

.card-back {
    background: white; /* Face down*/
    transform: rotateY(180deg); /*Face up*/
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover{
    background: #2980b9;
}